/* -----------------  Estilos generales  ----------------- */
body {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    font-size: 12px;
    font-style: normal;
    font-family: Times New Roman;
}
#centrar{
    text-align: left;
    font-family: Times New Roman 12px;
}
#error_1{
    display: none;
}
#boton_cerrar_modal{
    margin: auto;
    position: relative; 
    left: 90%;
}
#logincarga{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
#boton_cerrar_modal{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#primer_div{
    text-align: center;
}
#myModal{

}
.panel.callout {
    background: white;
}
.button
{
    background: mediumturquoise;
}
.texto{
    margin: 2px;
}
.fond
{
    background: white ;
}
.top-bar{	
    height: 75px;
}
.imagen{
    margin-top: 10px;
}
.imagen-right{
    margin-top: 10px;
}
.imagen1
{
    display: block;
    margin: auto;
    height: 60px;
    padding: 5px;
    alignment-adjust: central;
}

.search-label{
    position: absolute;
    width: 200px;
    display: block;
    left: 80%;
    top: 27%;
}
.panel-layout{
    width: 80%;
}
input::-webkit-input-placeholder {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-family: Times New Roman; 
}
#borde
{
    border: solid 2px;
    border-color: rgba(60,194,172,1);
}